<div class="external-links">
  <ul class="external-links__list">
    <li class="external-links__item">
      <a href="//codepen.io/ivan_pik/" class="external-links__link external-links__link--codepen"><svg class="icon icon--codepen"><use xlink:href="#icon-codepen"></use></svg> CodePen</a>
    </li>
    <li class="external-links__item">
      <a href="//dribbble.com/ivan-pik" class="external-links__link external-links__link--dribbble"><svg class="icon icon--dribbble"><use xlink:href="#icon-dribbble"></use></svg> Dribbble</a>
    </li>
    <li class="external-links__item">
      <a href="//github.com/ivan-pik" class="external-links__link external-links__link--github"><svg class="icon icon--github"><use xlink:href="#icon-github"></use></svg> GitHub</a>
    </li>
  </ul>
</div>