<header class="site-header">

  <div class="site-header__wrapper">

    <h2 class="site-header__name"><a href="/" class="site-header__name-link js-home-link" data-transition-to="index">Ivan Pik</a></h2>

    <h3 class="site-header__occupation">
      Web&nbsp;Designer <span class="site-header__occupation-amp">&amp;</span><br>Front&#8209;End Developer
    </h3>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item navigation__item--contact">
          <a href="mailto:{{ site.email }}" class="navigation__link">e-mail me</a>
        </li>
        <li class="navigation__item navigation__item--index">
          <a href="/" class="navigation__link js-navigation-link" data-transition-to="index">view my work</a>
        </li>
        <li class="navigation__item navigation__item--about">
          <a href="/about/" class="navigation__link js-navigation-link" data-transition-to="about">more about me</a>
        </li>
      </ul>
    </nav>

  </div>

</header>
